<!doctype html>
<html>
<body style="background-color:lightblue;">

<h1 style="text-align-last: center;background-color:red;">WELCOME TO MADEASIER PAGE....!!!!</h1>
<h3 style="text-align-last: center;">HEMANTH R</h3>
<h2>QUICK LINKS.....</h2>

<form action="submit" method="POST">
    <label for="fname">USER ID:</label><br>
    <input type="text" id="fname" name="fname" <!value="fname"><br>
    <label for="lname">PASSWORD:</label><br>
    <input type="text" id="lname" name="lname" <!value="lname"><br><br>
    <input type="submit" value="Submit">
</form>
  
<p style ="color:red;"><strong>NIE CONTINEO</strong></p>
<a href="https:/parents.nie.ac.in/index.php" target ="_blank"><b>click here</b></a><br>
<button onclick="document.location='https:/parents.nie.ac.in/index.php'">CONTINEO</button>
<hr>

<p style ="color:red;"><strong>SSP</strong></p>
<a href="https://ssp.postmatric.karnataka.gov.in/2223_sa/signin.aspx" target ="_blank"><b>click here</b></a><br>
<button onclick="document.location='https:/ssp.postmatric.karnataka.gov.in/2223_sa/signin.aspx'">SSP</button>
<hr> 

<p style ="color:red;"><strong>MOODLE GURUKULA</strong></p>
<a href="https:/moodlegurukul.nie.ac.in/login/index.php" target ="_blank"><b>click here</b></a><br>
<button onclick="document.location='https:/moodlegurukul.nie.ac.in/login/index.php'">MOODLE</button>

<hr>

</body>
</html>